/*aca arranca la config de youtube*/

.div__alinear {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 black;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.div__alinear__mobile {
@extend .div__alinear;
    display: none;
}

.canal__youtube {
    text-align: right;
    margin-right: 10px;
    background-color:map-get(c.$color,"gris__oscuro");

    a {
        text-decoration: none;
        background-color: map-get(c.$color,"gris__oscuro");
        color: black;
        font-size: 14px;
    
        a:hover {
            background-color: gray;
            color: #fff;
            font-style: oblique;
        }
    }
}
/* aca termina la seccion de youtube*/